@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.highlight {
  background-color: rgb(217, 96, 48) !important;
  color: white !important;
}